CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
c3-assistant/dependencies.lock
c3-assistant/build
c3-assistant/.vscode/settings.json
lvgl_Gui_Guider/lvgl-simulator/build